#playBGSoundToggle {
  display: block;
  position: absolute;
  top: 0;		
  right: 0;			
  width: 40px;		
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}
.mobile #playBGSoundToggle {
  width: 50px; 
  height: 50px;	
}
/* If there is a fullscreen and autorotate button, playToggle must placed a bit to the right */
body.fullscreen-enabled #playBGSoundToggle {
  right: 80px;	
}
body.fullscreen-enabled.mobile #playBGSoundToggle {
  right: 100px;	
}
#playBGSoundToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}
.mobile #playBGSoundToggle .icon {
  top: 10px;
  right: 10px;
}
#playBGSoundToggle .icon.on {
  display: none;
}
#playBGSoundToggle .icon.off {
  display: block;
}
#playBGSoundToggle.enabled .icon.on {
  display: block;
}
#playBGSoundToggle.enabled .icon.off {
  display: none;
}

/*make space for additional button, override style.css*/
#titleBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 80px;
  height: 40px;
  text-align: center;
}

.mobile #titleBar {
  height: 50px;
  right: 100px;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar {
  right: 120px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 150px;
}